.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.square {
    order: 0;
}

#sq1 { order: 1; }
#sq2 { order: 2; }
#sq3 { order: 3; }
#sq6 { order: 4; }
#sq5 { order: 5; }
#sq4 { order: 6; }
#sq7 { order: 7; }
#sq8 { order: 8; }
#sq9 { order: 9; }
